:root {
    --dark-bg-color: #101014;
    --light-bg-color: #f4f5f5;
    --grey-font-color: #b2b5b7;

    --light-card-color: #ffffff;
    --dark-card-color: #303033;


    /*naive-ui*/
    /*--primary-color-hover: #7c7d7e*/
    --primary-color-hover: #f6b545;

    /* comment */
    --comment-children-color: #f9fafb;
    --comment-reply-bgcolor: #f2f3f5;
}